<div class="navbar navbar-static-top">
	<div class='navbar-inner'>
		<div class='container'>

		<a href='#' class='brand'>เส้นทางรถเมล์</a>
		<ul class='nav'>
			<li><%= link_to "หน้าหลัก", :controller => "home", :action => "index"%></li>
			<li><%= link_to "สายรถเมล์", :controller => "buses", :action => "index"%></li>
			<li><%= link_to "ติดต่อ", :controller => "contact", :action => "index"%></li>
			<li><%= link_to "เกี่ยวกับรถเมล์", :controller => "about", :action => "index"%></li>
		</ul>
    	</div>
	</div>
</div>