<div class="row-fluid">
  <div class="span12">
  	<center><h4>ประเภทของรถที่ให้บริการและอัตราค่าบริการ</h4></center>
  </div>
<table class="table table-hover">
	<tr>		
		<td><h4>ประเภทของรถ</h4></td>
		<td><h4>สีของรถ</h4></td>
		<td><h4>อัตราค่าโดยสาร</h4></td>
		<td><h4>เวลาบริการ</h4></td>
	</tr>
  <tr><th rowspan='2'>รถธรรมดา</th>   
    <td>ครีม-แดง</td>
    <td>6.50 บาทตลอดสาย</td>
    <td>05.00-23.00 น.</td>
  </tr>
  <tr>
    <td>ขาว-เขียว</td>
    <td>7.50 บาทตลอดสาย</td>
    <td>05.00-23.00 น.</td>
  </tr>
  <tr><th rowspan='2'>รถทางด่วน</th>
    <td>ขาว-เขียว</td>
    <td>9.50 บาทตลอดสาย</td>
    <td>05.00-23.00 น.</td>
  </tr>
  <tr>
    <td>ครีม-แดง</td>
    <td>8.50 บาทตลอดสาย</td>
    <td>05.00-23.00 น.</td>
  </tr>
  <tr>
    <th rowspan='2'>รถบริการตลอดคืน</th>
    <td>ครีม-แดง</td>
    <td>8 บาทตลอดสาย</td>
    <td>23.00-05.00 น.</td>
  </tr>
  <tr>
    <td>ขาว-เขียว</td>
    <td>9 บาทตลอดสาย</td>
    <td>23.00-05.00 น.</td>
  </tr>
  <tr>
    <th rowspan='2'>รถปรับอากาศ</th>
    <td>ขาว-น้ำเงิน</td>
    <td>10 12 14 16 18 บาท(ตามระยะทาง)</td>
    <td>05.00-23.00 น.</td>
  </tr>
  <tr>
    <td>เหลือง-ส้ม</td>
    <td>11 13 15 17 19 21 23 บาท(ตามระยะทาง)</td>
    <td>05.00-23.00 น.</td>
  </tr>
</table>
<div class="row-fluid">
  <div class="span12">
      <h4>เงื่อนไขการยกเว้นหรือลดหย่อนค่าโดยสารรถโดยสารประจำทาง</h4>

  </div>
  <p>1. ผู้ตรวจการขนส่ง</p>
  <p>2. พระภิกษุ สามเณร</p>
  <p>3.บุรุษไปรษณีย์ในเครื่องแบบ (ขณะปฏิบัติหน้าที่)</p>
  <p>4. ผู้ถือบัตรประจำตัวพนักงานองค์การขนส่งมวลชนกรุงเทพ</p>
  <p>5. ผู้ถือบัตรหรือเหรียญตราของทางราชการ ที่ระบุไว้ว่ามีสิทธิยกเว้นค่าโดยสารประจำทาง</p>
  <h5><p>ข้อมูลอ้างอิงจากเว็บ ขสมก. <%= link_to "คลิ๊กที่นี่", "http://www.bmta.co.th/th/services.php" %></p></h5>
  <h5><p>ฐานข้อมูลเส้นทางรถเมล์อ้างอิงจากเว็บ ขสมก. <%= link_to "คลิ๊กที่นี่", "http://www.bmta.co.th/th/bus_info.php" %></p></h5>
</div>
<p></p>